body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #F5DEB3;
}

header {
  background-color: #8B0000;
  color: white;
  text-align: center;
  padding: 1rem;
}

h1, h2 {
  color: #8B0000;
}

section {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-left: 5px solid #DAA520;
}

footer {
  background-color: #8B0000;
  color: white;
  text-align: center;
  padding: 1rem;
}
