@media (min-width: 700px) {

    nav {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #menu {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}